@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Dune_Rise';
    src: url(../fonts/Dune_Rise.otf) format('oft');
  }
  @font-face {
    font-family: 'Agency_FB';
    src: url(../fonts/AgencyFB-Bold.ttf) format(('ttf'));
  }
}


.rotate {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}